<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQ</title>
    <link href="/images/logomy.jpg" rel="icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
</head>
<body>
<header th:insert="home.html :: header"></header>

<h1 class="center">Wir sorgen uns um die Fragen aller Kunden</h1>

<p class="center">
    Die h&auml;ufigsten Fragen in einen &Uuml;berblick
</p>

<br><br>

<h3 class="center">Wie hoch sind die Lieferkosten?</h3>
<p class="center">
    Die Lieferkosten betragen 0 Euro weltweit und es gibt keinen Mindesteinkaufswert!
</p>

<br><br>

<h3 class="center">Wie lange dauert die Lieferung?</h3>
<table class="center">
    <tr>
        <th>Kontinent</th>
        <th>Lieferzeit</th>
    </tr>
    <tr>
        <th>Nordamerika</th>
        <th>14 Tage</th>
    </tr>
    <tr>
        <th>S&uuml;damerika</th>
        <th>14 Tage</th>
    </tr>
    <tr>
        <th>Europa</th>
        <th>7 Tage</th>
    </tr>
    <tr>
        <th>Afrika</th>
        <th>14 Tage</th>
    </tr>
    <tr>
        <th>Asien</th>
        <th>14 bis 20 Tage</th>
    </tr>
    <tr>
        <th>Australien</th>
        <th>30 Tage</th>
    </tr>
    <tr>
        <th>Antarktika</th>
        <th>30 Tage</th>
    </tr>
</table>

<br><br>

<h3 class="center">Ist der Zustand der Kunstwerke gut?</h3>
<p class="center">
    Wir achten auf einen guten Zustand der Kunstwerke, indem wir die Ware vor dem Verkauf auf ihren Zustand pr&uuml;fen!
</p>

<br><br>

<h3 class="center">Wie werden die Kunstwerke &uuml;berpr&uuml;ft?</h3>
<p class="center">
    Alle Kunstwerke, die zum Verkauf stehen, werden zu uns geschickt und vor Ort &uuml;berpr&uuml;ft.
    Sollte das Kunstwerk nicht unseren Richtlinien entsprechen, wird es nicht zum Verkauf angeboten.
</p>

</body>

<style>
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    line-height: 100%;
}

p {
    line-height: 200%;
}

table {

}

a {
    line-height: 200%;
}
</style>
</html>